<hr>
<div class="row">
	<div class="span1" align="center">
		<%= image_tag('https://si0.twimg.com/sticky/default_profile_images/default_profile_3_bigger.png', :class => "img-rounded") %>
		<!-- https://si0.twimg.com/sticky/default_profile_images/default_profile_3_bigger.png -->
		<% author_name = ActiveRecord::Base.connection.execute("select twitter_name from myapp_reporter where twitter_id = #{n.author_id}").to_a%>
		
		<% if author_name.empty? %>
			<br>
			<b><%= Twitter.user(n.author_id).name  %></b>
			<br>
		<% else %>
			<br>
			<b><%= author_name.first['twitter_name'] %></b>
			<br>
		<% end %>

		<% if n.status == 0%>
			<span class="label label-important">Not Solved</span>
		<%  elsif n.status == 1 %>
			<span class="label label-warning">Being solved</span>
		<% elsif n.status == 2 %>
			<span class="label label-success">Solved</span>
		<% end %>

		<% if n.category_id == 1 %>
			<span class="label label-info">Search Rescue</span>
		<% elsif n.category_id == 2%>
			<span class="label label-info">Material</span>
		<% elsif n.category_id == 3%>
			<span class="label label-info">Blood</span>
		<% elsif n.category_id == 4%>
			<span class="label label-info">Voluntary</span>
		<% elsif n.category_id == 5%>
			<span class="label label-info">Information</span>	
		<% end %>
	</div>
	<div class="span3">
		<div class="row">
			<div class="span1" align="right">
				<b>Need:</b>
			</div>
			<div class="span2">
				<%= n.what %>
			</div>
		</div>

		<div class="row" >
			<div class="span1" align="right">
				<b>Location:</b>
			</div>
			<div class="span2">
				<%= n.location %>
			</div>
		</div>

		<div class="row">
			<div class="span1" align="right">
				<b>Amount:</b>
			</div>
			<div class="span2">
				<%= n.amount %>
			</div>
		</div>
		<% if n.extra.present? %>
			<div class="row">
				<div class="span1" align="right">
					<b>Extra Info:</b>
				</div>
				<div class="span2">
					<%= n.extra %>
				</div>
			</div>
		<% end %>
		<div class="row">
			<div class="span1" align="right">
				<p class="muted"><small><%= time_ago_in_words(n.posted_at) %> ago</small></p>
			</div>
		</div>
		<div class="row">
			<div class="span1" align="right">
      			<%= link_to raw("Contact!"), "https://twitter.com/intent/tweet?in_reply_to=#{n.tid}", :target => '_blank' %>
			</div>
		</div>
	</div>
	<% if n.latitude.present? and n.longitude.present? %>
			<%= image_tag("http://maps.googleapis.com/maps/api/staticmap?center=#{n.latitude},#{n.longitude}&zoom=13&size=300x100&key=AIzaSyDo2vTyzPYmPAvQYm_o58ZQ8YZmQttI6wo&sensor=false", :class => "img-polaroid") %>
	<% else %>
			Map not available.
	<% end %>
</div>