<h1>Icerikler:</h1>
<% @nodes.each do |n| %>
	<%= image_tag(Twitter.user(n.author_id).profile_image_url, :class => "img-rounded") %>
	<br>
	<b><%= Twitter.user(n.author_id).name %></b>
	<br>
	<b>NE:</b> <%= n.what %>
	<br>
	<b>NEREDE:</b> <%= n.location %>
	<br>
	<b>NE KADAR:</b><%= n.amount %>
	<% if n.extra.present? %>
		<br>
		<b>EKSTRA BILGI:</b><%= n.extra %>
	<% end %>
<% end %>